.users {
  .user {
    height: 200px;
    margin-top: 60px;

    &__avatar {
      height: 120px;
      width: 120px;
      border: 10px solid $gray-100;
      margin-top: -60px;
      background: $white;
    }
  }
}